@page "/detail"

@using InstaFarm.Server.Services
@using InstaFarm.Core.Modules
@inject InstaFarmService ifs

@if (this.ifs.Selected == null)
{
    <em>No user selected..</em>
}
else
{
    <h1>@ifs.Selected.Username</h1>
    <h2>Schelduled</h2>
    <UserTimer Timer="@ifs.Selected.Timer"></UserTimer>
    <hr/>
    <h2>Modules</h2>
    @foreach (var module in ifs.Selected.Modules)
    {
        @if (module is InstaFarm.Core.Modules.RepostModule)
        {
            <RepostView Module="@(module as RepostModule)"></RepostView>
        }
        else if (module is FollowLikersModule)
        {
            <FollowLikersView Module="@(module as FollowLikersModule)"></FollowLikersView>
        }
        else if (module is CommentModule)
        {
            <CommentView Module="@(module as CommentModule)"></CommentView>
        }

        <hr/>
    }
}